body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
}
.myname {
    background: url("../images/laptop.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 600px;
    font-family: 'Montserrat', sans-serif;
    
}

.aboutme {
    background-size: cover;
    background-attachment: fixed;
    color: slategrey;
    margin-left: 100px;
    

}

#intro {
    margin-left: 5%;
}

h3 {
    color: slategrey
}

h4 {
    padding: 60px;
    max-width: 70%;
}

#myinspo {
    line-height: 2em;
}

#projectsSection {
    margin-left: 210px;
}

li {
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 20px;
    padding: 20px 20px;
    border: 1px solid slategrey;
    border-radius: 50%;
    transition: .5s;
}

li:hover {
    color: coral;
    border: 1px solid coral;
    transition: .5s;
}

